@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root{
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);

    /* Instagram: linear gradient */
    --Insta1:hsl(37, 97%, 70%);
    --Insta2:hsl(329, 70%, 58%);
    
    --YouTube: hsl(348, 97%, 39%);

    /*  Dark Theme */

    /* - Toggle: linear gradient */
    --Toggle1 :hsl(210, 78%, 56%);
    --Toggle2: hsl(146, 68%, 55%);

    /* Light Theme */

    --Toggle: hsl(230, 22%, 74%);

    /* Dark Theme */

    --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
    --Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
    --Desaturated-Blue-Text: hsl(228, 34%, 66%);
    --Desaturated-Blue-BG-Hover: hsla(228, 34%, 66%, .4);
    --White-Text: hsl(0, 0%, 100%);

    /* Light Theme */

    --White-BG: hsl(0, 0%, 100%);
    --Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
    --Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
    --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
    --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.switcher{
    --Very-Dark-Blue-BG : hsl(0, 0%, 100%);
    --Very-Dark-Blue-Top-BG-Pattern:hsl(225, 100%, 98%);
    --Dark-Desaturated-Blue-Card-BG: hsl(227, 47%, 96%);
    --Desaturated-Blue-Text: hsl(228, 12%, 44%);
    --White-Text: hsl(230, 17%, 14%);
}

body{
    background-color: var(--Very-Dark-Blue-BG);
}

header{
    padding: 2rem 2rem 6rem;
    background-color: var(--Very-Dark-Blue-Top-BG-Pattern);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.title{
    font-size: 2rem;
    margin-bottom: .7rem;
    color: var(--White-Text);
    font-weight: bold;
}

.txt{
    font-size: 1.4rem;
    margin-bottom: 1.7rem;
    color: var(--Desaturated-Blue-Text);
    font-weight: bold;
}

.btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--Dark-Grayish-Blue-Text);
    flex-direction: row-reverse;
    padding: 2rem 0;
}

.state{
    color: var(--Desaturated-Blue-Text);
    font-size: 1.4rem;
    font-weight: bold;
}

.checkbox:hover + .state{
    color: var(--White-Text);
}

.checkbox{
    width: 4rem;
    height: 2rem;
    background: linear-gradient(94deg, var(--Toggle1), var(--Toggle2));
    appearance: none;
    -webkit-appearance: none;
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
    position: relative;
}

.checkbox::before{
    content: '';
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
}

.checkbox:checked:before{
    content: '';
    position: absolute;
    left: auto;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
}

main{
    transform: translateY(-4rem);
    z-index: 10;
}

.first-container, .second-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.card, .box{
    width: 90%;
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
    padding: 2rem 0;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    transition: background-color .2s ease-in-out;
}

.card:hover, .box:hover{
    background-color:var(--Desaturated-Blue-BG-Hover) ;
}

.card::before{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-face::before{
    background-color: var(--Facebook);
}

.card-twitter::before{
    background-color: var(--Twitter);
}

.card-insta::before{
    background: linear-gradient(94deg, var(--Insta1), var(--Insta2));
}

.card-youtube::before{
    background-color: var(--YouTube);
}

.icon-name, .change{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    margin: 1rem 0;
}

.name{
    font-size: 1.4rem;
    color: var(--Desaturated-Blue-Text);
}

.num-follower{
    display: block;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--White-Text);
    letter-spacing: 1px;
    margin-bottom: .5rem;
}

.follower{
    color: var(--Dark-Grayish-Blue-Text);
    text-transform: uppercase;
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2.5px;
}

.diff-up, .diff-down{
    font-size: 1.4rem;
}

.diff-up{
    color: var(--Lime-Green);
}

.diff-down{
    color: var(--Bright-Red);
}

.sub-title{
    color: var(--White-Text);
    margin: 2rem 0 2rem 2rem;
    font-size: 1.9rem;
}

.box{
    padding: 2rem;
}

.first-card, .last-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.card-txt{
    color: var(--Desaturated-Blue-Text);
    font-size: 1.4rem;
    font-weight: bold;
}

.num{
    color: var(--White-Text);
    font-size: 3rem;
}

.percent-down, .percent-up{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    font-size: 1.4rem;
}

.percent-down{
    color: var(--Bright-Red);
}

.percent-up{
    color: var(--Lime-Green);
}

footer{
    text-align: center;
    color: var(--Desaturated-Blue-Text);
    padding: 0 2rem;
    margin: 1rem 0;
    font-size: 1.4rem;
}

footer a{
    color: var(--White-Text);
    text-decoration: none;
}

@media screen and (min-width:768px) {
    header{
        width: 100%;
        padding: 2rem 0 6rem;
    }

    .header-box{
        max-width: 110rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }

    .btn-box{
        border-top: none;
        gap: 2rem;
    }

    main{
        max-width: 110rem;
        margin: auto;
    }

    .first-container, .second-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .card, .box{
        width: 100%;
    }
}

















































